name: Test Coverage

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  test-coverage:
    runs-on: ubuntu-latest

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      RENV_CONFIG_AUTOLOADER_ENABLED: "false"

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::covr any::DT any::htmltools
          needs: coverage

      - name: Generate coverage
        run: |
          cov <- covr::package_coverage()
          covr::to_cobertura(cov, filename = "cobertura.xml")
          covr::report(cov, file = "coverage.html", browse = FALSE)
        shell: Rscript {0}

      - uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: |
            cobertura.xml
            coverage.html
